<style>
body {
    font-family: Raleway;
}

a{
  font-family: Raleway;
}
.login-block {
    width: 520px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Raleway;
    padding-bottom:20px;
}

.login-block input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Raleway;
    padding: 0 10px 0 10px;
    outline: none;
}


.login-block input:active, .login-block input:focus {
    border: 1px solid #909090;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #0D908A;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px solid #0D908A;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Raleway;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #909090;
}
</style>
